In [ ]:
#Andrew Dahbura, amd6ua
#DS 6003 Assignment 1-Spark
#Assistance from Pete Alonzi ML notebook

In [1]:
import pyspark
from os import listdir
from os.path import isfile, join
import boto3
import pandas as pd
from sagemaker import get_execution_role
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType

In [2]:
#Set up context
conf = pyspark.SparkConf().setAppName('odl').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
sqlc = pyspark.sql.SQLContext(sc)
sc

In [3]:
role = get_execution_role()
bucket='odl-spark19spds6003-001'
data_key = 'Batting.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)
pd.read_csv(data_location)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5.0,0.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34.0,11.0,6.0,13,1.0,NaN,NaN,NaN,NaN,NaN
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11.0,1.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,...,18.0,0.0,1.0,3,4.0,NaN,NaN,NaN,NaN,NaN
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,...,1.0,2.0,0.0,2,0.0,NaN,NaN,NaN,NaN,NaN
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,...,5.0,2.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,...,21.0,4.0,0.0,2,2.0,NaN,NaN,NaN,NaN,NaN
15,bellast01,1871,1,TRO,NaN,29,128,26,32,3,...,23.0,4.0,4.0,9,2.0,NaN,NaN,NaN,NaN,NaN
16,berkena01,1871,1,PH1,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,3.0,NaN,NaN,NaN,NaN,NaN
17,berryto01,1871,1,PH1,NaN,1,4,0,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
18,berthha01,1871,1,WS3,NaN,17,73,17,17,1,...,8.0,3.0,1.0,4,2.0,NaN,NaN,NaN,NaN,NaN
19,biermch01,1871,1,FW1,NaN,1,2,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
20,birdge01,1871,1,RC1,NaN,25,106,19,28,2,...,13.0,1.0,0.0,3,2.0,NaN,NaN,NaN,NaN,NaN
21,birdsda01,1871,1,BS1,NaN,29,152,51,46,3,...,24.0,6.0,0.0,4,4.0,NaN,NaN,NaN,NaN,NaN
22,brainas01,1871,1,WS3,NaN,30,134,24,30,4,...,21.0,4.0,0.0,7,2.0,NaN,NaN,NaN,NaN,NaN
23,brannmi01,1871,1,CH1,NaN,3,14,2,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
24,burrohe01,1871,1,WS3,NaN,12,63,11,15,2,...,14.0,0.0,0.0,1,1.0,NaN,NaN,NaN,NaN,NaN
25,careyto01,1871,1,FW1,NaN,19,87,16,20,2,...,10.0,5.0,0.0,2,1.0,NaN,NaN,NaN,NaN,NaN
26,carleji01,1871,1,CL1,NaN,29,127,31,32,8,...,18.0,2.0,1.0,8,3.0,NaN,NaN,NaN,NaN,NaN
27,conefr01,1871,1,BS1,NaN,19,77,17,20,3,...,16.0,12.0,1.0,8,2.0,NaN,NaN,NaN,NaN,NaN
28,connone01,1871,1,TRO,NaN,7,33,6,7,0,...,2.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
29,cravebi01,1871,1,TRO,NaN,27,118,26,38,8,...,26.0,6.0,3.0,3,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102786,wittgni01,2016,1,MIA,NL,48,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102787,wolteto01,2016,1,COL,NL,71,205,27,53,15,...,30.0,4.0,1.0,21,53.0,2.0,0.0,4.0,0.0,1.0
102788,wongko01,2016,1,SLN,NL,121,313,39,75,7,...,23.0,7.0,0.0,34,52.0,2.0,9.0,0.0,5.0,3.0
102789,woodal02,2016,1,LAN,NL,15,16,2,4,0,...,2.0,0.0,0.0,1,9.0,0.0,0.0,2.0,0.0,0.0
102790,woodbl01,2016,1,CIN,NL,70,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102791,woodtr01,2016,1,CHN,NL,81,11,0,2,0,...,1.0,0.0,0.0,1,5.0,0.0,0.0,0.0,0.0,0.0
102792,worleva01,2016,1,BAL,AL,35,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102793,worthda01,2016,1,HOU,AL,16,39,4,7,2,...,1.0,0.0,0.0,1,6.0,0.0,0.0,0.0,0.0,1.0
102794,wrighda03,2016,1,NYN,NL,37,137,18,31,8,...,14.0,3.0,2.0,26,55.0,0.0,0.0,0.0,0.0,0.0
102795,wrighda04,2016,1,CIN,NL,4,5,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
102796,wrighda04,2016,2,LAA,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102797,wrighmi01,2016,1,BAL,AL,18,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102798,wrighst01,2016,1,BOS,AL,25,4,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
102799,yateski01,2016,1,NYA,AL,41,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102800,yelicch01,2016,1,MIA,NL,155,578,78,172,38,...,98.0,9.0,4.0,72,138.0,4.0,4.0,0.0,5.0,20.0
102801,ynoaga01,2016,1,NYN,NL,10,3,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102802,ynoami01,2016,1,CHA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102803,ynoara01,2016,1,COL,NL,3,5,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102804,youngch03,2016,1,KCA,AL,34,1,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102805,youngch04,2016,1,BOS,AL,76,203,29,56,18,...,24.0,4.0,2.0,21,50.0,0.0,3.0,0.0,0.0,4.0
102806,younger03,2016,1,NYA,AL,6,1,2,0,0,...,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102807,youngma03,2016,1,ATL,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102808,zastrro01,2016,1,CHN,NL,8,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102809,zieglbr01,2016,1,ARI,NL,36,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102810,zieglbr01,2016,2,BOS,AL,33,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102811,zimmejo02,2016,1,DET,AL,19,4,0,1,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
102812,zimmery01,2016,1,WAS,NL,115,427,60,93,18,...,46.0,4.0,1.0,29,104.0,1.0,5.0,0.0,6.0,12.0
102813,zobribe01,2016,1,CHN,NL,147,523,94,142,31,...,76.0,6.0,4.0,96,82.0,6.0,4.0,4.0,4.0,17.0
102814,zuninmi01,2016,1,SEA,AL,55,164,16,34,7,...,31.0,0.0,0.0,21,65.0,0.0,6.0,0.0,1.0,0.0
102815,zychto01,2016,1,SEA,AL,12,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Create Spark DF --> must deal with NA's first
#df = sqlc.createDataFrame(pd.read_csv(data_location))

#Alternatively to read s3 directly into spark df
#df = spark.read.csv(data_location)

In [ ]:
#Write parquet to S3 continued

## prep list of files to transfer
#files = [f for f in listdir(parquetPath) if isfile(join(parquetPath, f))]

#s3 = boto3.resource('s3')
#for f in files:
    ##print('copying {} to {}'.format(parquetPath+'/'+f,"sample_data/"+f))
#    s3.Bucket(bucket).upload_file(parquetPath+'/'+f, "amd6ua/pqt/"+f)

In [4]:
#ML work now (continue using batting dataset)
#sample dataframe --should i load the parquet version here?
bucket='odl-spark19spds6003-001'
data_key = 'Batting.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)
pddf = pd.read_csv(data_location)

In [5]:
#NA handling
pddf = pddf.dropna()
df = sqlc.createDataFrame(pddf)

In [ ]:
#Write parquet to S3
parquetPath = '/home/ec2-user/SageMaker/Open-Data-Lab/education/amd6ua/andrew_pqt'
df.write.parquet(parquetPath)

In [ ]:
#Write to spark dataframe from parquet
df = sqlc.read.parquet(parquetPath)

In [ ]:
#Data exploration

In [6]:
df.printSchema()

root
 |-- playerID: string (nullable = true)
 |-- yearID: long (nullable = true)
 |-- stint: long (nullable = true)
 |-- teamID: string (nullable = true)
 |-- lgID: string (nullable = true)
 |-- G: long (nullable = true)
 |-- AB: long (nullable = true)
 |-- R: long (nullable = true)
 |-- H: long (nullable = true)
 |-- 2B: long (nullable = true)
 |-- 3B: long (nullable = true)
 |-- HR: long (nullable = true)
 |-- RBI: double (nullable = true)
 |-- SB: double (nullable = true)
 |-- CS: double (nullable = true)
 |-- BB: long (nullable = true)
 |-- SO: double (nullable = true)
 |-- IBB: double (nullable = true)
 |-- HBP: double (nullable = true)
 |-- SH: double (nullable = true)
 |-- SF: double (nullable = true)
 |-- GIDP: double (nullable = true)

In [7]:
display(df)

DataFrame[playerID: string, yearID: bigint, stint: bigint, teamID: string, lgID: string, G: bigint, AB: bigint, R: bigint, H: bigint, 2B: bigint, 3B: bigint, HR: bigint, RBI: double, SB: double, CS: double, BB: bigint, SO: double, IBB: double, HBP: double, SH: double, SF: double, GIDP: double]

In [8]:
#Collect first 10 rows
df.take(10)

[Row(playerID='colemjo02', yearID=1890, stint=1, teamID='PHI', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='brynato01', yearID=1891, stint=1, teamID='BSN', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='dunnian01', yearID=1891, stint=1, teamID='NY1', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='sulliji01', yearID=1891, stint=1, teamID='BSN', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='viaule01', yearID=1892, stint=1, teamID='CL4', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='johnsab01', yearID=1893, stint=1, teamID='CHN', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='scheija01', yearID=1894, stint=1, teamID='PHI', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='sommean01', yearID=1894, stint=1, teamID='BRO', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='terryad01', yearID=1894, stint=1, teamID='PIT', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0),
 Row(playerID='thomato01', yearID=1894, stint=1, teamID='CL4', lgID='NL', G=1, AB=0, R=0, H=0, 2B=0, 3B=0, HR=0, RBI=0.0, SB=0.0, CS=0.0, BB=0, SO=0.0, IBB=0.0, HBP=0.0, SH=0.0, SF=0.0, GIDP=0.0)]

In [9]:
#Correlation between number of hits and type of hit -- single, double, triple or HR
print("Pearson's r(H,2B) = {}".format(df.corr("H", "2B")))
print("Pearson's r(H,3B) = {}".format(df.corr("H", "3B")))
print("Pearson's r(H,HR) = {}".format(df.corr("H", "HR")))

Pearson's r(H,2B) = 0.955159385083123
Pearson's r(H,3B) = 0.7222983866445453
Pearson's r(H,HR) = 0.7989849986141668

In [10]:
#Additional correlations
print("Pearson's r(G,H) = {}".format(df.corr("G", "H")))
print("Pearson's r(H,RBI) = {}".format(df.corr("H", "RBI")))
print("Pearson's r(AB,RBI) = {}".format(df.corr("AB", "RBI")))

Pearson's r(G,H) = 0.9179755244596672
Pearson's r(H,RBI) = 0.9405136278412812
Pearson's r(AB,RBI) = 0.931500145781767

In [11]:
#Feature engineering
#Hits per game
df = df.withColumn('HpG', df.H / df.G)
df.printSchema()

root
 |-- playerID: string (nullable = true)
 |-- yearID: long (nullable = true)
 |-- stint: long (nullable = true)
 |-- teamID: string (nullable = true)
 |-- lgID: string (nullable = true)
 |-- G: long (nullable = true)
 |-- AB: long (nullable = true)
 |-- R: long (nullable = true)
 |-- H: long (nullable = true)
 |-- 2B: long (nullable = true)
 |-- 3B: long (nullable = true)
 |-- HR: long (nullable = true)
 |-- RBI: double (nullable = true)
 |-- SB: double (nullable = true)
 |-- CS: double (nullable = true)
 |-- BB: long (nullable = true)
 |-- SO: double (nullable = true)
 |-- IBB: double (nullable = true)
 |-- HBP: double (nullable = true)
 |-- SH: double (nullable = true)
 |-- SF: double (nullable = true)
 |-- GIDP: double (nullable = true)
 |-- HpG: double (nullable = true)

In [12]:
#Feature engineering continued
#Perecent doubles
#df = df.withColumn('2BpH', df.'2B' / df.H) #-->apparently this syntax doesnt work with vars beginning with number
#Percent triples
#df = df.withColumn('3bpH', df.'3B' / df.H) #-->apparently this syntax doesnt work with vars beginning with number
#Percent HR's
df = df.withColumn('HRpH', df.HR / df.H)
#Percent HR's
df = df.withColumn('RBIpH', df.RBI / df.H)
#Percent HR's
df = df.withColumn('RBIpAB', df.RBI / df.AB)
df.printSchema()

root
 |-- playerID: string (nullable = true)
 |-- yearID: long (nullable = true)
 |-- stint: long (nullable = true)
 |-- teamID: string (nullable = true)
 |-- lgID: string (nullable = true)
 |-- G: long (nullable = true)
 |-- AB: long (nullable = true)
 |-- R: long (nullable = true)
 |-- H: long (nullable = true)
 |-- 2B: long (nullable = true)
 |-- 3B: long (nullable = true)
 |-- HR: long (nullable = true)
 |-- RBI: double (nullable = true)
 |-- SB: double (nullable = true)
 |-- CS: double (nullable = true)
 |-- BB: long (nullable = true)
 |-- SO: double (nullable = true)
 |-- IBB: double (nullable = true)
 |-- HBP: double (nullable = true)
 |-- SH: double (nullable = true)
 |-- SF: double (nullable = true)
 |-- GIDP: double (nullable = true)
 |-- HpG: double (nullable = true)
 |-- HRpH: double (nullable = true)
 |-- RBIpH: double (nullable = true)
 |-- RBIpAB: double (nullable = true)

In [13]:
#Select specific features for analysis
#Add some extra features here to work with more 
#complex vectorization syntax
df = df.select("RBI","G")

In [14]:
#Define training and validation set with 80-20 split
(test, train) = df.randomSplit((0.15, 0.85))
print ('training set N = {}, test set N = {}'.format(train.count(),test.count()))

training set N = 56380, test set N = 9795

In [16]:
#Vectorization
from pyspark.ml.linalg import Vectors, VectorUDT

# make a user defined function (udf)
sqlc.registerFunction("oneElementVec", lambda d: Vectors.dense([d]), returnType=VectorUDT())

# vectorize the data frames
train = train.selectExpr("G", "oneElementVec(RBI) as RBI")
test = test.selectExpr("G", "oneElementVec(RBI) as RBI")

print(test.orderBy(test.G.desc()).limit(10))

DataFrame[G: bigint, RBI: vector]

In [17]:
# rename to make ML engine happy
train = train.withColumnRenamed("G", "label").withColumnRenamed("RBI", "features")
test = test.withColumnRenamed("G", "label").withColumnRenamed("RBI", "features")

In [18]:
from pyspark.ml.regression import LinearRegression, LinearRegressionModel

lr = LinearRegression()
lrModel = lr.fit(train)

type(lrModel)

pyspark.ml.regression.LinearRegressionModel

In [19]:
predictionsAndLabelsDF = lrModel.transform(test)

print(predictionsAndLabelsDF.orderBy(predictionsAndLabelsDF.label.desc()).take(10))

[Row(label=163, features=DenseVector([129.0]), prediction=228.88197954176906), Row(label=162, features=DenseVector([67.0]), prediction=131.8837158033454), Row(label=162, features=DenseVector([82.0]), prediction=155.35103767554466), Row(label=162, features=DenseVector([104.0]), prediction=189.76977642143692), Row(label=162, features=DenseVector([86.0]), prediction=161.6089901747978), Row(label=162, features=DenseVector([64.0]), prediction=127.19025142890555), Row(label=162, features=DenseVector([83.0]), prediction=156.91552580035795), Row(label=162, features=DenseVector([48.0]), prediction=102.15844143189298), Row(label=162, features=DenseVector([64.0]), prediction=127.19025142890555), Row(label=162, features=DenseVector([86.0]), prediction=161.6089901747978)]

In [20]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator()
print(eval.explainParams())

labelCol: label column name. (default: label)
metricName: metric name in evaluation - one of:
                       rmse - root mean squared error (default)
                       mse - mean squared error
                       r2 - r^2 metric
                       mae - mean absolute error. (default: rmse)
predictionCol: prediction column name. (default: prediction)

In [21]:
#Lets evaluate on all error matrics and R^2 here just for practice
eval.setMetricName("rmse").evaluate(predictionsAndLabelsDF)

0.7519593742789537

In [22]:
eval.setMetricName("mse").evaluate(predictionsAndLabelsDF)

541.0164554352025

In [23]:
eval.setMetricName("mae").evaluate(predictionsAndLabelsDF)

18.576403833694375

In [24]:
#Check R^2
eval.setMetricName("r2").evaluate(predictionsAndLabelsDF)

0.7519593742789537

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize = [20, 20])
plt = plt.scatter(x = pddf['G'], y = pddf["RBI"])
plt.xlabel("Games")
plt.ylabel("RBI")

In [ ]:
#X axis should be games and y axis should be RBI, for some reason it says xlabel and ylabel not available